{% extends "registration/base_template.html" %}

{% block register %}
    <form method="post" action=".">
        {% csrf_token %}
        <div class="form-group">
{#        {{ form.as_p }}#}
            {{ form.non_field_errors }}
            {% for field in form %}
                <!--                <div>{{ field.label_tag }}</div>-->
                {{ field.errors }}
                <div style="padding:5px">{{ field }}</div>
            {% endfor %}
            <!--            <input type="submit" value="Submit">         -->
            <div style="padding:5px">
                <button class="btn btn-info btn-block" type="submit">sign in</button>
            </div>
        </div>
    </form>
    <div class="panel">
        <div class="panel-heading">
            <a href="{% url 'password_reset' %}"><strong>Forget Password?</strong></a>

        </div>
        <div class="panel-footer"><i>Not a member?</i> <a href="{% url 'registration_register' %}">Sign Up!</a>
        </div>
    </div>
{% endblock %}