{% extends "registration/base_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
   <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WhatILearn</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->

</head>
    {% load static %}
{% load staticfiles %}
<body style="background-image: url({% static "media/download-1.jpg" %}); background-size: cover">

{#<div class="navbar navbar-default navbar-fixed-top" style="background-color: azure">#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="#">Sitename</a>#}
{#        </div>#}
{#        <center>#}
            {% block login %}
                <form class="navbar-form navbar-right" method="post" action="/accounts/login/">
                    {% csrf_token %}
                    <div class="form-group" style="padding:5px">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group" style="padding:5px">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-info">Sign In</button>
                </form>
             {% endblock %}
{#            </div>#}
{#        </center>#}
{#</div>#}



{#<div class="container" style="margin-top: 10%">#}
{#    <div class="row">#}
{#        <div class="col-md-6 col-md-offset-3" style="background: #999">#}
{% block register %}
            <form method="post" action="." class="form-horizontal">
                {% csrf_token %}
                <div class="form-group has-info">
                    {%  for field in form %}
<!--                <div>{{ field.label_tag }}</div>-->
                    {{ field.errors }}
                    <div style="padding:5px">{{ field }}</div>
                    {% endfor %}
<!--            <input type="submit" value="Submit">         -->
                <div style="padding:5px"><button class="btn btn-primary btn-block" type="submit">sign up</button>
                </div>
                </div>
            </form>
    {% endblock %}
{#        </div>#}
{#        <div class="col-md-4" style="background: #999"></div>#}
{#    </div>#}
{#</div>#}
<!--
        <div class="col-md-3" style="background: #888">
            <form action="/accounts/login/" method="post" class="form-horizontal">
                <div class="form-group">
                    {% csrf_token %}
                    <div style="padding:5px"><input type="text" class="form-control" name="username" value="" id="username"></div>
                    <div style="padding:5px"><input type="password" class="form-control" name="password" value="" id="password"></div>
                    <div style="padding:5px"><button class="btn btn-default btn-block" type="submit">sign in</button>
                    </div>
                </div>

            </form>
        </div>
        
    </div>
-->
</body>
{% endblock %}

